body {
  background-color: white;
  color: #55fb6b;
  font-family: 'IBM Plex Mono', monospace;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

h1 {
  text-align: left;
  font-family: 'IBM Plex Mono', monospace;
color: #ff4a0e;
}


p {
  color: black;
}

.a {
  text-decorator: none;
}

button {
    background-color: default;
    color: black;
    margin: 0;
    padding: 0;
    width:auto;
    height:auto;
    font-size: 20px;
  }

.container{
    background-color: white;
    display: flex;
    flex direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    }

.items{
  float: right;
  order: 1, 2, 3, 4,;
  flex-grow: 1;
}

.fw-pic {
      height: 200px;
      margin-bottom: 30px;
      margin-left: 1000px;
      margin-right: 50px;
      margin-top: 50px;
      transform: rotate(90deg);
    }
