body {
  background-color: rgb(0 ,158,213);
  color: #55fb6b;
  font-family: 'IBM Plex Mono', monospace;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

h1 {
  text-align: left;
  font-family: 'IBM Plex Mono', monospace;
color: #ffc42e;
}


p {
  color: black;
}

a {
  text-decorator: 0;
}

button {
    background-color: rgb(0 ,158,213);
    color: black;
    margin: 0;
    padding: 0;
    width:auto;
    height:auto;
    font-size: 20px;
  }

.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.header-container{
      z-index:10;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
      position: fixed;
      width:100%;
      left: 2px;
      top: 2px;
}

.header-content{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  width:90%;
  margin:auto;
}
.container{
    background-color: rgb(0 ,158,213);
    display: flex;
    flex direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    }

.items{
  float: right;

}

.header-nav{
  display: flex;
  flex-direction: column;
  -ms-flex-align: right;
}
.fw-pic {
      height: 200px;
      margin-bottom: 30px;
      margin-left: 1000px;
      margin-right: 50px;
      margin-top: 50px;
      transform:;
    }
