body{
  position: float;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #b8b3c4;
}

.footer-nav{
  background-color: white;
  z-index:10;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 1);
  position: fixed;
  width:100%;
  left: 0px;
  top: 0px;
}

.header-nav{
  display: flex;
  flex-direction: column;
  -ms-flex-align: right;
}

.header-nav-item{
  padding: 5px 10px;
  color: black;
  display: flex;
  text-decoration: none;
  text-align: right;

}
.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position:
  }

li {
  display: block;
  text-align: right;

}

.header-container{
      background-color: white;
      z-index:10;
      box-shadow: 0px 5px 3px rgba(0, 0, 0, 1);
      position: fixed;
      width:100%;
      left: 0px;
      top: 0px;

}

.header-content{
  text-align: left;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  width: 95%;
  margin:auto;
}

.header-item{

}

p {
text-align: justify;
}

html, body {
    height: 100%;
    margin: 5px;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;

}

.fw-pic {
      max-width: 99%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
    }
