body{
  position: float;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #b8b3c4;
}

.footer-nav{
  background-color: white;
  z-index:10;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 1);
  position: fixed;
  width:100%;
  left: 0px;
  top: 0px;
}

.header-nav{
  display: flex;
  flex-direction: column;
  -ms-flex-align: right;
}

.header-nav-item{
  display: flex;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  text-align: right;
  justify-content: flex-end;


}
.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position:
  }
  li {
    display: block;
    text-align: right;
  }

.header-container{
      display: flex;
      background-color: white;
      z-index:10;
      box-shadow: 0px 5px 3px rgba(0, 0, 0, 1);
      position: fixed;
      width:100%;
      left: 0px;
      top: 0px;
      flex-direction: row;
}

.header-content{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 10px;
  width: 95%;
  margin:auto;
  }

.header-item{
display: flex;

}

p {
text-align: justify;
}

html, body {
    height: 100%;
    margin: 5px;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;

}
.footer-container {
      display: flex;
      flex-flow: row;
      justify-content: center;
      background-color: white;
      z-index:10;
      box-shadow: 0px 5px 3px rgba(0, 0, 0, 1);
      position: float;
      width:100%;
      left: 0px;
      top: 0px;
}

.footer-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 10px;
    width: 95%;
    margin:auto;
  }

.footer-nav-item{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  j
}

.fw-pic {
      max-width: 99%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
    }
